.kovid-banner{
    margin-top: 100px;
}
.kovid-container{
    display: flex; 
}
.column{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: small;
    font-weight: 600;
    border-radius: 5px;
    width: 300px;
}
.column:first-child{
    background-color: aliceblue;
    color: #045be6;
}
.column:nth-child(2){
    background-color: #fffffb;
    color: #fce850;
}
.column:nth-child(3){
    background-color: #e8fde8;
    color: #0da70d;
}
.column:nth-child(4){
    background-color: #f7efef;
    color: #ce0000;
}
.column p{
    padding: 0 10px;
    font-size: 14px;
    font-weight: 400;
}
.column p span{
    background-color: #fff;
    margin-right: 5px;
    padding: 0 5px;
    font-size: 11px;
}
.column2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    padding: 0 10px;
    font-size: small;
    font-weight: 400;
    border-radius: 5px;
    background-color: #fff;
}
.kovid-img-name{
    padding-top: 5px;
    display: flex;
}
.kovid-img-name > img{
    width: 35px;
    height: 35px;
}
.kovid-img-name > span{
    padding: 5px 10px;
    font-size: 14px;
}

.contentB{
    margin-left: 20px;
    margin-top: 5px;
}
.section-content{
    display: flex;
    justify-content: space-between;
}
.sectionA select{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    outline: none;
}
.kovid-result{
    display: flex;
    text-align: start;
    align-content: flex-start;
    font-weight: 400;
}
.kovid-result .kovid-total-cases,
.kovid-result .kovid-total-deaths,
.kovid-result .kovid-total-recoveries,
.kovid-result .kovid-active-cases,
.kovid-result .kovid-new-cases,
.kovid-result .kovid-new-deaths{
   justify-content: center;
   padding: 10px 5px;
}
.kovid-result .kovid-total-cases p,
.kovid-result .kovid-total-recoveries p,
.kovid-result .kovid-new-cases p{
    background-color: #fff;
    width: 133px;
    margin: 2px 0px;
    padding: 10px;
}
.kovid-result .kovid-total-deaths p,
.kovid-result .kovid-active-cases p,
.kovid-result .kovid-new-deaths p{
    background-color: #fff;
    width: 133px;
    margin: 2px 0px;
    padding: 10px;
}
.kovid-result .kovid-total-cases p:last-child{
    color: #fce850;
    font-size: 18px;
    font-weight: 600;
}
.kovid-result .kovid-total-deaths p:last-child{
    color: #ce0000;
    font-size: 18px;
    font-weight: 600;
}
.kovid-result .kovid-total-recoveries p:last-child{
    color: #0da70d;
    font-size: 18px;
    font-weight: 400;
}
.kovid-result .kovid-active-cases p:last-child{
    color: #045be6;
    font-size: 18px;
    font-weight: 400;
}
.kovid-result .kovid-new-cases p:last-child{
    color: #a64942;
    font-size: 18px;
    font-weight: 400;
}
.kovid-result .kovid-new-deaths p:last-child{
    color: #a80038;
    font-size: 18px;
    font-weight: 400;
}
.kovid-dev-map img{
    width: 100%;
    height: 385px;
    padding-left: 20px;
}
.kovid-sheets{
    margin-top: 20px;
    background-color: #fff;
    display: flex;
}
.sheets-container{
    display: flex;
    text-align: center;
    align-content: center;
    font-size: medium;
    font-weight: 400;
}
.sheets-contentA p span{
    font-size: large;
    font-weight: 400;
}
.sheets-contentA p {
    padding: 2px 15px;
}
.col-1{
    color: #045be6;
}
.col-2{
    color: #fce850;
}
.col-3{
    color: #0da70d;
}
.col-4{
    color: #ce0000;
}
.col-5{
    color: #a64942;
}
.col-6{
    color: #a80038;
}
.dev{
    margin-top: 30px;
    font-size: 16px;
}
.dev p span{
 color: #ce0000;
}

@media screen and (max-width: 1024px){
    .container{
        padding: 0 20px;
    }
    .kovid-sheets{
        flex: 1;
        flex-direction: column;
        width: 290px;
    }
}
@media screen and (max-width: 954px){
    .kovid-dev-map img{
        display: none;
    }
    .column{
        width: 100%;
    }
} 
@media screen and (max-width: 774px){
    .kovid-navbar-link,
    .kovid-date{
       display: none;
    }
   .mobile-navbar .menu-burgerA img{
    display: block;
}
} 
@media screen and (max-width: 650px){
    .kovid-container,
    .section-content{
        display: 1;
        flex-direction: column; 
    }
    .sectionA select{
        margin-top: 30px;
        width: 100%;
    }
    .contentB{
        margin-left: 0px;
    }
    .kovid-dev-map img{
        display: block;
        width: 100%;
    }
    .kovid-sheets{
        width: 100%;
    }
    .kovid-dev-map img{
        padding: 0px;
        margin-top: 20px;
    }
    .kovid-result,
    .sheets-container{
        justify-content: space-between;
    }
}
 @media screen and (max-width: 300px){
    .kovid-result,
    .sheets-container{
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }
    .column p{
        font-size: 10px;
    }
} 








